build
**/.ipynb_checkpoints
wasi-libc
wasi-sdk
.DS_Store
*.wasm
*/target
**/iris-model.c
*.png
digit-model/cpp/frugally-deep
digit-model/cpp/FunctionalPlus
digit-model/cpp/eigen
digit-model/cpp/json
digit-model/cpp/CImg-2.8.0
digit-model/cpp/CImg_2.8.0.zip